  <div class="l-box-lrg">
    <h1 class="splash-head">About</h1>
    <h2>This is not just another Simon Game application, but is unusual. It's been built thinking in making it accessibly to everyone, specially to blind people.</h2>
    <h2>You can listen this text as well as reading it. There are sounds to help blind people to play the game and there are instructions about the composition and structure of all the visual elements.</h2>
    <h2>As a plus, you can turn black all elements in this application and try to play it as a blind person will do.</h2>
    <button class="pure-button button-error accessible-btn-full" ui-sref="welcome">Home</button>
  </div>