  <div class="l-box-lrg">
    <h1 class="splash-head">More instructions</h1>
    <h2>Lorem ipsum dolor sit amet, modo rebum vivendo vix te, an vidit patrioque constituam usu. Ei mei eruditi suscipiantur. Amet disputando eos ne. Fabellas luptatum maiestatis duo cu, cu his euismod adipiscing, doctus diceret inimicus has cu. Semper impedit deserunt mea ex, ei eam copiosae tacimates.</h2>
    <h2>Apeirian interpretaris ad usu, ex odio mentitum appareat sit. Quo atqui scripta cu, facer falli ocurreret nec ne. Mei et nusquam expetenda vituperata, te homero doming regione ius. Oratio doming alienum an mei.</h2>
    <h2>An nam cetero deterruisset, usu ne oporteat facilisi, an brute iisque complectitur eos. Justo maluisset omittantur cum ea, sit id amet quando aliquid, ex quando nostrud appareat mea.</h2>
    <button class="pure-button button-error accessible-btn-full" ui-sref="signup">Sign up!</button>
  </div>