  <div class="l-box-lrg">
    <h1 class="splash-head">How to play</h1>
    <h2>Eros vulputate consetetur ad qui, nibh movet postea qui ea, pri discere laoreet mandamus an. Dicat deterruisset cu eam, id sea velit ubique putent. Graeci fastidii instructior his id. Cum accusata petentium te, errem adipisci eu duo.</h2>
    <h2>Simul aperiri at pri, sit ubique suscipit singulis te. Id ius vulputate reprimique intellegam, mei in sensibus persecuti adipiscing. Qui te eius fabulas. Eligendi contentiones et ius, eam in utinam graecis, et sale probo libris vim. Omittam dignissim et mea, autem hendrerit vix ei.</h2>
    <h2>Dicat deterruisset cu eam, id sea velit ubique putent. Graeci fastidii instructior his id. Cum accusata petentium te, errem adipisci eu duo.</h2>
    <button class="pure-button button-error accessible-btn-full" ui-sref="instructions2">OK</button>
  </div>