
  <div class="l-box-lrg">
    <h1 class="splash-head">Log in...</h1>
    <h2 class="splash-subhead">Fill the form to log in and check what you have done with Simon</h2>
    
    <form class="pure-form pure-form-stacked" id="checkPlayer"
          ng-submit='players.getPlayer()'>

      <fieldset>       
        <label for="login-name">Name or alias</label>
        <input id="login-name" type="text" placeholder="Your Name or an alias"
          ng-model='players.login.name' required autofocus>
        
        <label for="login-email">Your Email</label>
        <input id="login-email" type="email" placeholder="Your Email"
          ng-model='players.login.email' required>
        
        <a ui-sref="reminder">Forgot your name or alias?</a>
        <button type="submit" class="pure-button button-error accessible-btn-full"
          >Log in</button>
        <button class="pure-button button-error accessible-btn-full"
          ui-sref="signup">New player?</button>
      </fieldset>
        
    </form>
  </div>