<section ng-controller="PlayersController as players">
<h1>Im login</h1>
<h2>This form is for allowing regular players to continue with his/her score and level. Name and email must match in the db to present info. Otherwise, player has opportunity to start from the beginning going to signup page</h2>

  <form id="checkPlayer"
          ng-submit='players.getPlayer()'>
    <input type="text" ng-model="" placeholder="Name or Alias">
    <input type="text" ng-model="" placeholder="Email">
    <button>log in</button>
    <button ui-sref="signup">New player?</button>
  </form>

</section>