<script type="text/javascript" src="js/game-script.js"></script>
<div>
  <div class="back-square">
    <div id="sqr1" data-numberSquare="1" class="div-size square div1">
      <audio preload="auto" class="sound1">
        <source src="sounds/sound1.mp3#t=,1.5"  type="audio/mpeg"/>
      </audio>
    </div>
    <div id="sqr2" data-numberSquare="2"  class="div-size square div2">
      <audio preload="auto" class="sound2">
        <source src="sounds/sound2.mp3#t=,1.5"  type="audio/mpeg"/>
      </audio>
    </div>
    <div id="sqr3" data-numberSquare="3"  class="div-size square div3">
      <audio preload="auto" class="sound3">
        <source src="sounds/sound3.mp3#t=,1.5"  type="audio/mpeg"/>
      </audio>      
    </div>
    <div id="sqr4" data-numberSquare="4"  class="div-size square div4">
      <audio preload="auto" class="sound4">
        <source src="sounds/sound4.mp3#t=,1.5"  type="audio/mpeg"/>
      </audio>      
    </div>
  </div>
</div>
<div class="button-play">
  <button id="startButton">START</button>
  <button id="quitButton">QUIT</button>
</div>
<div id="instruction-msg"></div>