<script type="text/javascript" src="js/script.js"></script>
<style type="text/css">
  .l-box-lrg {
    padding: 0em;
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
  }
</style>
<div class="animated bounceInDown">
  <div class="back-squares-div marginTop">
    <div id="sqr1" data-numberSquare="1" class="div-size square div1">
      <audio preload="auto" id="sound_s_1">
        <source src="sounds/sound_s_1.mp3"  type="audio/mpeg"/>
      </audio>
    </div>
    <div id="sqr2" data-numberSquare="2"  class="div-size square div2">
      <audio preload="auto" id="sound_s_2">
        <source src="sounds/sound_s_2.mp3"  type="audio/mpeg"/>
      </audio>
    </div>
    <div id="sqr3" data-numberSquare="3"  class="div-size square div3">
      <audio preload="auto" id="sound_s_3">
        <source src="sounds/sound_s_3.mp3"  type="audio/mpeg"/>
      </audio>      
    </div>
    <div id="sqr4" data-numberSquare="4"  class="div-size square div4">
      <audio preload="auto" id="sound_s_4">
        <source src="sounds/sound_s_4.mp3"  type="audio/mpeg"/>
      </audio>      
    </div>
  </div>
</div>
<div class="buttons-div-play-page animated bounceInUp">
  <button id="startButton" class="button-error pure-button accessible-btn">START</button>
  <button id="quitButton" class="button-error pure-button accessible-btn">TRY</button>
</div>
<div id="instruction-msg" class="absolute-center"></div>

<!-- SOUNDS IN THIS PAGE -->
<div id="sounds">
  
  <!-- Description of the screen -->
  <audio preload="auto" id="speech_description_play_page">
    <source src="sounds/speech_description_play_page.mp3"  type="audio/mpeg"/>
  </audio> 


<!--   <audio preload="auto" id="speech_how_sound_squares_1">
    <source src="sounds/speech_how_sound_squares_1.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="speech_how_sound_squares_2">
    <source src="sounds/speech_how_sound_squares_2.mp3"  type="audio/mpeg"/>
  </audio> -->

  <!-- Explaining how works the game --> 
  <audio preload="auto" id="speech_description_how_to_play">
    <source src="sounds/speech_description_how_to_play.mp3"  type="audio/mpeg"/>
  </audio>

  <audio preload="auto" id="sound_countdown">
    <source src="sounds/sound_countdown.mp3"  type="audio/mpeg"/>
  </audio>

<!--   <audio preload="auto" id="sound1_top_left_squ">
    <source src="sounds/sound1_top_left_squ.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound2_top_right_squ">
    <source src="sounds/sound2_top_right_squ.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound3_bottom_left_squ">
    <source src="sounds/sound3_bottom_left_squ.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound4_bottom_right_squ">
    <source src="sounds/sound4_bottom_right_squ.mp3"  type="audio/mpeg"/>
  </audio> -->

  <!-- Sounds for the levels -->
  <audio preload="auto" id="sound_for_level_1">
    <source src="sounds/sound_for_level_1.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_2">
    <source src="sounds/sound_for_level_2.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_3">
    <source src="sounds/sound_for_level_3.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_4">
    <source src="sounds/sound_for_level_4.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_5">
    <source src="sounds/sound_for_level_5.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_6">
    <source src="sounds/sound_for_level_6.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_7">
    <source src="sounds/sound_for_level_7.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_8">
    <source src="sounds/sound_for_level_8.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_9">
    <source src="sounds/sound_for_level_9.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_10">
    <source src="sounds/sound_for_level_10.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_11">
    <source src="sounds/sound_for_level_11.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_12">
    <source src="sounds/sound_for_level_12.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_13">
    <source src="sounds/sound_for_level_13.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_14">
    <source src="sounds/sound_for_level_14.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_15">
    <source src="sounds/sound_for_level_15.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_16">
    <source src="sounds/sound_for_level_16.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_17">
    <source src="sounds/sound_for_level_17.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_18">
    <source src="sounds/sound_for_level_18.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_19">
    <source src="sounds/sound_for_level_19.mp3"  type="audio/mpeg"/>
  </audio>
  <audio preload="auto" id="sound_for_level_20">
    <source src="sounds/sound_for_level_20.mp3"  type="audio/mpeg"/>
  </audio>

  
  <audio preload="auto" id="sound_gameover">
    <source src="sounds/sound_gameover.mp3"  type="audio/mpeg"/>
  </audio>

</div>







