  <div class="l-box-lrg">

    <h1>Im reminder</h1>
    <h2>Just write the email which you signed up with us and we will send to your post your details</h2>

    
    <form class="pure-form pure-form-stacked" id="remindPlayer"
          ng-submit='players.selectPlayer()'>
        <fieldset>
            <label for="remind-player-email">Email</label>
            <input id="remind-player-email" type="email" placeholder="Remind us your email"
            ng-model='players.remindPlayer.email' required>

            <button type="submit" class="pure-button">Remind it!</button>
        </fieldset>
        <a ui-sref="login">Back</a>
    </form>


<!--     <form id="remindPlayer"
      ng-submit='players.selectPlayer()'>
      <label for="remind-player-email">Email</label>

      <input type="email" id="remind-player-email" placeholder="Email"
        ng-model='players.remindPlayer.email' required>
      <button>Remind my data</button>
    </form>
    <a ui-sref="login">Back</a> -->


  </div>