<div class="l-box-lrg">

  <h1 class="splash-head">Join us!</h1>
  <h2>If you join us, next time to come back to play, you can recover your scores and levels reached and track your evolution playing the game. Otherwise, if you just want to play, press over the SIMON logo, at the top left corner of the screen and enjoy!</h2>

  <form class="pure-form pure-form-stacked" id="addPlayer"
          ng-submit='players.addPlayer()'>
    <fieldset>
      <label for="new-player-name">Name or alias</label>
      <input id="new-player-name" type="text" placeholder="Your Name or an alias" ng-model='players.newPlayer.name' required>
      <label for="new-player-email">Your Email</label>
      <input id="new-player-email" type="email" placeholder="Your Email"
            ng-model='players.newPlayer.email' required>
      <a ui-sref="welcome">Back</a>
      <button type="submit" class="pure-button button-error accessible-btn-full">Sign up</button>
    </fieldset>
    
  </form>

</div>
