<section ng-controller="playersController as players">
<h1>Im signup</h1>
<h2>This form is just to record player basic data to recover score and level from db. Name and email must match in the db to present info. Otherwise, player has opportunity to start from the beginning</h2>

  <form id="addPlayer"
          ng-submit='players.addPlayer()'>


    <label for="new-player-name">Name</label>
    <input type="text" id="new-player-name" placeholder="Name or Alias" ng-model='players.newPlayer.name'>
    <label for="new-player-email">Email</label>
    <input type="text" id="new-player-email" placeholder="Email" ng-model='players.newPlayer.email'>
    <button>Sign up</button>
  </form>
  <a ui-sref="reminder">Forgot your name or alias?</a>
  <a ui-sref="/">Back</a>

</section>